*{
    box-sizing: border-box;
}

body{
    background-color: #7bdaf3;
    font-family: "Poppins",sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.add{
    background-color: #9ec862;
    margin: 2res auto;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.note{
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 20px;
}

.note .tools{
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note .main{
    background-color: white;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.note textarea{
    font-family: inherit;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.note .hidden{
    display: none;
}